{% extends 'admin_master.html' %}
{% block info %}{% endblock %}
{% block content %}

    <h1>Add Department</h1>
    <div class="outer-w3-agile mt-3">
        <!-- <h4 class="tittle-w3-agileits mb-4">Grid System Form</h4> -->
        {% for i in data %}
        <form action="../update_employee" method="post">
            {% csrf_token %}
            <input type="hidden" name="e_id" value="{{i.0}}" />
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>First name : </label>
                    <input type="text" class="form-control" name="first_name" value="{{i.1}}" required="">
                </div>
                <div class="form-group col-md-4">
                    <label>Second name : </label>
                    <input type="text" class="form-control" name="second_name" value="{{i.2}}" required="">
                </div>
                <div class="form-group col-md-4">
                    <label>Last Name :</label>
                    <input type="text" class="form-control" name="last_name" value="{{i.3}}" required="">
                </div>
            </div>
        
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>Gender : </label><br>
                    <input type="text" name="gender" value="{{i.4}}" />
                </div>
                <div class="form-group col-md-4">
                    <label>Department</label>
                    {%endfor%}
                    <select class="custom-select d-block w-100" name="department" required="">
                        {% for row in dept %}
                        <option value={{row.2}} >{{ row.2 }}</option>
                        {% endfor %}
                    </select>
                </div>
               {% for i in data%}
                <div class="form-group col-md-4">
                    <label>Birth Date</label>
                    <input type="Date" class="form-control" name="birth_date" value="{{i.6}}" required="">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address</label>
                <input type="text" class="form-control" name="address" value="{{i.7}}" required="">
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" name="city" value="{{i.8}}" required="">
                </div>
                <div class="form-group col-md-5">
                    <label for="inputemail">E-mail</label>
                    <input type="email" class="form-control" name="email" value="{{i.9}}" required="">
                </div>
                <div class="form-group col-md-5">
                    <label for="inputnumber">Mobile</label>
                    <input type="number" class="form-control" name="mnumber" value="{{i.10}}" required="">
                </div>
            
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% endfor %}
    </div>
    
{% endblock %}