{% extends 'admin_master.html' %}
{% block info %} {% endblock %}
{% block content %}
  

        <!-- <p><h2>details of employee:</h2></p> -->
        <div class="outer-w3-agile mt-3">
                <h4 class="tittle-w3-agileits mb-4">employee Detail</h4>
                <table class="table table-bordered">
                    
                    <tbody>
                        {% for i in data %}
                        
                        <td colspan="3"><p><b>Description of leave:</b>&nbsp;&nbsp;{{i.17}}</p></td>
                        <tr>
                            <td ><p><b>Employee Name :</b>{{i.1}} {{i.2}} {{i.3}} </p></td>
                            <td><p><b>gender :</b>{{i.4}}</td>
                            <td><p><b>Status :</b><span class="badge badge-danger">&nbsp;&nbsp;{{i.19}}</span></td>

                            </tr>
                        <tr>
                            <td><p><b>Department :</b>{{i.5}}</td>
                            <td><p><b>Address :</b>{{i.7}}</td>
                                <td><p><b>City :</b>{{i.8}}</td>
                            </tr>
                            <tr>
                            <td ><p><b>E-mail ID :</b>{{i.9}}  </p></td>
                            <td><p><b>Mobile :</b>{{i.10}}</td>
                            <!-- <td><p><b>test :</b>{{i.18}}</td> -->
                            <td rowspan="2">                                
                                <div class="d-flex justify-content-around mb-5">
                                        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"><a href="action/{{i.0}}"></a>Approve</a></button> -->
                                    
                                        <form action="../action" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="p_date" value="{{i.15}}">
                                            <input type="hidden" name="status" value="approved">
                                            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Approve</button>
                                        </form>
                                        <form action="../action" method="post">
                                            {% csrf_token %}
                                            
                                            <input type="hidden" name="p_date" value="{{i.15}}">
                                            <input type="hidden" name="status" value="disapprove">
                                            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Dis approve</button>
                                        </form>
                                    </div>
                             </td>
                        </tr>
                      
                        <tr>
                            <td ><p><b>User Name:</b>{{i.11}}  </p></td>
                            <td><p><b>Password :</b>{{i.12}}</td>
                            </tr>
                            
                       {% endfor %}
                    </tbody>
                </table>
            </div>
{% endblock %}}