{% extends 'master.html' %}
{% block info %} {% endblock%}
{% block contant %}<br>
<div id="page-wrapper">
    <div class="main-page">
    
<h2 class="title1">Old Leaves</h2>
<div class="panel-body widget-shadow">
    <!-- <h4>Old Leaves</h4> -->
    <table class="table">
        <thead>
            <tr>
              <th>Leave Type</th>
              <th>From date</th>
              <th>To date</th>
              <th>Description</th>
              <th>Posting Date</th>
              <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
              <!-- <th scope="row">{{i.0}}</th> -->
              <td>{{i.1}}</td>
              <td>{{i.2}}</td>
              <td>{{i.3}}</td>
              <td>{{i.4}}</td>
              <td>{{i.5}}</td>
              <td>{{i.6}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</div></div>
{% endblock%}